langchain==0.3.27
numpy==2.3.2
opencv_contrib_python==4.11.0.86
opencv_python==4.9.0.80
opencv_python==4.10.0.84
opencv_python==4.11.0.86
opencv_python_headless==4.9.0.80
pgvector==0.3.6
pgvector==0.2.4
Pillow==10.1.0
Pillow==11.3.0
psycopg2==2.9.9
psycopg2_binary==2.9.9
Requests==2.32.4
scikit_image==0.19.3
scikit_image==0.19.2
sentence_transformers==2.7.0
streamlit==1.32.2
torch==2.3.0+cu121
torch==2.2.0
torch==2.6.0+cpu
tqdm==4.66.1
tqdm==4.66.4
tqdm==4.67.1
transformers==4.37.2
transformers==4.50.3
